canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Panels start */

.panel {
    width: 150px;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    border: 5px solid #393939;
    margin: 2px;
    padding: 5px;
}

.panel.stats div {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0 10px;
}

.panel.stats div:last-child {
    margin-bottom: 10px;
}

.panel.glass {
    position: relative;
    padding: 2px;
    width: 250px;
    height: 500px;
}

@media (max-width:1000px) {
    .panel.stats {
        display: none;
    }

    .panel {
        margin: 0;
        max-width: 150px;
        width: 20vw;
        max-height: 500px;
        height: calc(30vw * 2);
    }

    .panel.glass {
        max-width: 250px;
        width: 30vw;
        max-height: 500px;
        height: calc(30vw * 2);
    }

    .game:not(.competitive) .panel {
        margin: 0;
        max-width: 150px;
        width: calc(100vw - 150px);
        max-height: 500px;
        height: calc((100vw - 150px) * 2);
    }

    .game:not(.competitive) .panel.glass {
        max-width: 250px;
        width: calc(100vw - 150px);
        max-height: 500px;
        height: calc((100vw - 150px) * 2);
    }
}

/*and (orientation: landscape)*/

@media (max-height:540px) {
    .players {
        box-sizing: border-box;
        width: calc(100% - 300px);
        display: flex;
        flex-flow: row;
        /* justify-content:flex-end !important; */
    }

    .player {
        flex-direction: row-reverse !important;
    }

    .panel.stats {
        display: none;
    }

    .panel {
        min-width: calc(95vh / 3);
        width: calc(95vh / 3);
        height: 95vh;
    }

    .panel.glass {
        width: calc(95vh / 2);
        height: 95vh;
    }
}

.panel .title {
    margin: 10px 0;
}

/* Panel => block-image */

.panel .block-image {
    max-width: 48px;
    max-height: 32px
}

.panel .block-image[src*="i-block"] {
    max-width: 64px;
    max-height: 16px;
}

/* Panel => img-wrap */

.panel .img-wrap {
    min-height: 44px;
}

.panel .img-wrap img[src="#"] {
    visibility: hidden;
}

/* Panel => Tetris animation for panel */

@keyframes blink-animation {
    0% {
        border: 4px solid #fff;
        background-color: rgba(255, 255, 255, .1);
        filter: brightness(1.5);
        box-shadow: 0 0 0 4px rgba(0, 0, 0, .35);
    }

    100% {
        border: 4px solid #393939;
    }
}

.blink-animation .panel {
    animation: blink-animation .0142s steps(2, end) infinite;
}

/* Panels end */

/* ================================= */

/* === MAIN === */

main {
    max-width: 1300px;
    margin: 40px auto;
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.8);
}

/* === MAIN === (competitive mode) */

main.competitive .panel.stats {
    display: none;
}

main.competitive .panel.info .top-score {
    display: none;
}

main.competitive .panel.stats {
    display: none;
}

main.competitive .opponent {
    display: flex;
}

/* === HEAD === */

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.head .window-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.head .player-overlay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.head .user-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

/* === PLAYER & OPPONENT === */

.players {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.player,
.opponent {
    box-sizing: border-box;
    flex-grow: 0;
    display: flex;
    flex-flow: row nowrap;
}

.opponent {
    display: none;
}

/* PLAYER & OPPONENT => Glass */

.panel.glass .player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.panel.glass .player-overlay button {
    flex-shrink: 0;
}

/* PLAYER => Info */

.panel.info div:last-child {
    margin-bottom: 5px;
}

.panel.info div .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === RECORDS === */

.records .panel {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.records .panel .grid-container {
    margin-top: 10px;
    height: fit-content;
    font-family: 'Press Start 2P';
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

* {
    /* outline: 1px grey;
    outline-offset: 1px;
    outline-style: groove; */
}

/* === CONTROLLER === */

#controller {
    /* -webkit-tap-highlight-color: transparent; */
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#controller .cross {
    height: 130px;
    width: 150px;
    padding: 20px 20px 10px 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 50px;
    background: rgba(70, 70, 70, 0.5);
}

#controller .cross .sides {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#controller .cross button {
    width: 65px;
    height: 65px;
    border-radius: 20%;
    font-size: 40px;
    line-height: 0;
    padding-bottom: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.25);
    border: solid 3px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.1);
    outline: 0;
    transition: all 0.13s ease;
}

#controller .cross button.active {
    box-shadow: 0 0 45px 5px rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    border: solid 3px rgba(255, 255, 255, 0.2);
}

#controller .cross #button-down {
    padding-bottom: 4px;
    width: 55px;
    height: 55px;
}

#controller .buttons {
    border-top-left-radius: 50px;
    background: rgba(255, 0, 0, 0.1);
    padding: 20px 10px 10px 20px;
}

#controller .buttons {
    height: 130px;
    width: 160px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#controller .buttons button {
    height: 70px;
    width: 70px;
    font-size: 25px;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.25);
    background-color: rgba(255, 0, 0, 0.15);
    border: solid 3px rgba(255, 0, 0, 0.1);
    border-radius: 50%;
    outline: 0;
    transition: all 0.13s ease;
}

#controller .buttons button.active {
    box-shadow: 0 0 45px 5px rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.5);
    border: solid 3px rgba(255, 0, 0, 0.2);
}

.hide {
    /* display: none; */
}