:root {
    --cyan: rgba(0, 255, 255, 1);
    --cyan-2: rgba(0, 255, 255, .5);
    --cyan-3: rgba(0, 255, 255, .33);
    --white5: rgba(255, 255, 255, 0.6);
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

.hidden {
    display: none !important;
}

/* ================================= */

/* === MAIN === */

main {
    margin: 0 auto;
}

/* === MAIN === (competitive mode) */

main.competitive .panel.stats {
    display: none;
}

main.competitive .panel.info .top-score {
    display: none;
}

main.competitive .panel.stats {
    display: none;
}

main.competitive .opponent {
    display: flex;
}

/* === HEAD === */

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.head .window-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.head .player-overlay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.head .user-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

/* === PLAYER & OPPONENT === */

.players {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.player,
.opponent {
    box-sizing: border-box;
    flex-grow: 0;
    display: flex;
    flex-flow: row nowrap;
}

.opponent {
    display: none;
}

/* PLAYER & OPPONENT => Glass */

.panel.glass .player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.panel.glass .player-overlay button {
    flex-shrink: 0;
}

/* PLAYER => Info */

.panel.info div:last-child {
    margin-bottom: 5px;
}

.panel.info div .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === RECORDS === */

.records .panel {
    min-width: 200px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.records .panel .grid-container {
    margin-top: 10px;
    height: fit-content;
    font-family: 'Press Start 2P';
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

* {
    /* outline: 1px grey;
    outline-offset: 1px;
    outline-style: groove; */
}