@font-face {
    font-family: 'Press Start 2P';
    src: url(./fonts/PressStart2P-Regular.ttf);
}

*, :before, :after {
    font-size: 15px;
}

@media (max-width:1000px) {
    *, :before, :after {
        font-size: 14px;
    }
}

@media (max-width:800px) {
    *, :before, :after {
        font-size: 12px;
    }
}

@media (max-width:600px) {
    *, :before, :after {
        font-size: 10px;
    }
}

@media (max-width:500px) {
    *, :before, :after {
        font-size: 8px;
    }
}

@media (max-width:400px) {
    *, :before, :after {
        font-size: 7px;
    }
}

h1, h2, p, span {
    font-family: 'Press Start 2P', 'Franklin Gothic Medium', Arial, sans-serif;
    color: white;
}