body {
	margin: 0;
	padding: 0;
	user-select: none;

	width: 100vw;
	height: 100vh;
	color: #fff;
	background: rgb(50, 50, 50) url(../background.png);
	background-size: 18px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

header,
footer {
	text-align: center;
}