@font-face {
    font-family: 'Press Start 2P';
    src: url('https://fonts.googleapis.com/css?family=Press+Start+2P&subset=cyrillic');
}

:root {
    --cyan: rgba(0, 255, 255, 1);
    --cyan-2: rgba(0, 255, 255, .5);
    --cyan-3: rgba(0, 255, 255, .33);
    --white5: rgba(255, 255, 255, 0.6);
}

body {
	margin: 0 auto;
	padding: 0;
	user-select: none;

	width: min-content;
	height: 100%;

	color: #fff;
	background: rgb(50, 50, 50) url('./background.png');
	background-size: 18px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;

    font-family: 'Press Start 2P', 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em
}

.big{
	font-size: 2em;
}