/*Button animations*/

@keyframes turning_on {
    0% {
        color: rgba(0, 255, 255, 0.5);
        text-shadow: 0 0 10px rgba(0, 255, 255, 0);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 255, 0.65);
        filter: drop-shadow(0 0 30px rgba(0, 255, 255, 0));
    }
    10% {
        color: rgba(0, 255, 255, 0.8);
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.25);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 0.5);
        filter: drop-shadow(0 0 30px rgba(0, 255, 255, 0.01));
    }
    30% {
        color: rgba(0, 255, 255, 0.7);
        text-shadow: 0 0 10px rgba(0, 255, 255, 0);
        box-shadow: inset 0 0 2px 1px rgba(0, 255, 255, 0.6);
        filter: drop-shadow(0 0 30px rgba(0, 255, 255, 0));
    }
    50% {
        color: rgba(136, 255, 255, 0.9);
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
        box-shadow: inset 0 0 3px 2px rgba(0, 255, 255, 0.65);
        filter: drop-shadow(0 0 30px rgba(0, 255, 255, 0.03));
    }
    80% {
        color: rgba(0, 255, 255, 0.7);
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
        box-shadow: inset 0 0 3px 2px rgba(0, 255, 255, 0.7);
        filter: drop-shadow(0 0 30px rgba(0, 255, 255, 0));
    }
    100% {
        color: rgba(0, 255, 255, 0.95);
        text-shadow: 0 0 10px rgba(0, 255, 255, 1);
        box-shadow: inset 0 0 3px 2px rgba(0, 255, 255, 0.72);
        filter: drop-shadow(0 0 30px rgba(0, 255, 255, 0.03));
    }
}

@keyframes blinking {
    0% {
        color: rgba(0, 255, 255, 0.7);
        text-shadow: 0 0 10px rgba(0, 255, 255, 0);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 0.77);
        filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.06));
    }
    2% {
        color: rgba(0, 255, 255, 0.9);
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.9);
        box-shadow: inset 0 0 1px 2px rgba(0, 255, 255, 0.72);
        filter: drop-shadow(0 0 30px rgba(0, 255, 255, 0.1));
    }
    18% {
        color: rgba(0, 255, 255, 0.8);
        text-shadow: 0 0 10px rgba(0, 255, 255, 0);
        box-shadow: inset 0 0 1px 2px rgba(0, 255, 255, 0.75);
        filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.05));
    }
    25% {
        color: rgba(0, 255, 255, 0.9);
        text-shadow: 0 0 10px rgba(0, 255, 255, 1);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 0.8);
        filter: drop-shadow(0 0 20px rgba(0, 255, 255, 0.09));
    }
}

/*Toggler animations*/

@keyframes turning_on_toggler {
    0% {
        color: rgba(0, 255, 0, 0.5);
        text-shadow: 0 0 10px rgba(0, 255, 0, 0);
        box-shadow: inset 0 0 1px 1px rgba(0, 255, 0, 0.65);
        filter: drop-shadow(0 0 30px rgba(0, 255, 0, 0));
    }
    10% {
        color: rgba(0, 255, 0, 0.8);
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.25);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 0, 0.5);
        filter: drop-shadow(0 0 30px rgba(0, 255, 0, 0.01));
    }
    30% {
        color: rgba(0, 255, 0, 0.7);
        text-shadow: 0 0 10px rgba(0, 255, 0, 0);
        box-shadow: inset 0 0 2px 1px rgba(0, 255, 0, 0.6);
        filter: drop-shadow(0 0 30px rgba(0, 255, 0, 0));
    }
    50% {
        color: rgba(136, 255, 0, 0.9);
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
        box-shadow: inset 0 0 3px 2px rgba(0, 255, 0, 0.65);
        filter: drop-shadow(0 0 30px rgba(0, 255, 0, 0.03));
    }
    80% {
        color: rgba(0, 255, 0, 0.7);
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.1);
        box-shadow: inset 0 0 3px 2px rgba(0, 255, 0, 0.7);
        filter: drop-shadow(0 0 30px rgba(0, 255, 0, 0));
    }
    100% {
        color: rgba(0, 255, 0, 0.95);
        text-shadow: 0 0 10px rgba(0, 255, 0, 1);
        box-shadow: inset 0 0 3px 2px rgba(0, 255, 0, 0.72);
        filter: drop-shadow(0 0 30px rgba(0, 255, 0, 0.03));
    }
}

@keyframes blinking_toggler {
    0% {
        color: rgba(0, 255, 0, 0.7);
        text-shadow: 0 0 10px rgba(0, 255, 0, 0);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 0, 0.77);
        filter: drop-shadow(0 0 10px rgba(0, 255, 0, 0.06));
    }
    2% {
        color: rgba(0, 255, 0, 0.9);
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.9);
        box-shadow: inset 0 0 1px 2px rgba(0, 255, 0, 0.72);
        filter: drop-shadow(0 0 30px rgba(0, 255, 0, 0.1));
    }
    18% {
        color: rgba(0, 255, 0, 0.8);
        text-shadow: 0 0 10px rgba(0, 255, 0, 0);
        box-shadow: inset 0 0 1px 2px rgba(0, 255, 0, 0.75);
        filter: drop-shadow(0 0 10px rgba(0, 255, 0, 0.05));
    }
    25% {
        color: rgba(0, 255, 0, 0.9);
        text-shadow: 0 0 10px rgba(0, 255, 0, 1);
        box-shadow: inset 0 0 2px 2px rgba(0, 255, 0, 0.8);
        filter: drop-shadow(0 0 20px rgba(0, 255, 0, 0.09));
    }
}

.neon::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAM8lDrC4AAAAWSURBVBjTY2BEAwyMDAwomBiB4WMGAEGgAHEPA6weAAAAAElFTkSuQmCC);
    background-size: 10px;
}

.neon {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    font-family: 'Press Start 2P', 'Franklin Gothic Medium', Arial, sans-serif;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    background: #000;
    border: 2px #000 solid;
    color: rgba(0, 255, 255, 0.32);
    box-shadow: inset 0 0 0 2px rgba(0, 255, 255, 0.32);
}

/* .neon.active, */
.neon:focus {
    outline: 0;
    background: #0e171d;
    color: rgba(0, 255, 255, 1);
    border: 2px rgb(0, 40, 40) solid;
    box-shadow: inset 0 0 2px 2px rgba(0, 255, 255, 1);
    animation: turning_on .2s steps(6, end), blinking 0.012s steps(3, end) .35s infinite;
}

.neon.toggler {
    color: rgba(0, 255, 0, 0.32);
    box-shadow: inset 0 0 0 2px rgba(0, 255, 0, 0.32);
}

.neon.toggler.on {
    color: rgba(0, 255, 0, 0.77);
    box-shadow: inset 0 0 1px 2px rgba(0, 255, 0, 0.77);
    text-shadow: 0 0 2px rgba(0, 255, 0, 1);
}

/* .neon.toggler.active, */
.neon.toggler:focus {
    background: #0e1d0f;
    color: rgba(0, 255, 0, 1);
    border: 2px rgb(0, 40, 0) solid;
    box-shadow: inset 0 0 2px 2px rgba(0, 255, 0, 1);
    animation: turning_on_toggler .2s steps(6, end), blinking_toggler 0.012s steps(3, end) .35s infinite;
}